* {
    font-family: "Inter", sans-serif;
}

html, body {
    /* background: white; */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6vh;
}

.first-section {
    display: flex;
    text-align: left;
    height: 100vh;
    width: 100vw;
    border-bottom: white 1px;
}

.about-us-left {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    flex: 1;
    border-bottom: 2px solid #EB0028;
    background-color: black;
    color: white;
}

.about-img-text {
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 7vh;
    bottom: -5%;
    left: 4%;
    right: 70%;
}

.img-container {
    position: relative;
    flex-grow: 1;
    min-height: 0;
}

.img-container video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 70%;
    border-bottom: 2px solid #EB0028;
}

.who-are-we {
    display: flex;
    flex-direction: column;
    background-color: #FFDDE1;
    padding: 20px 50px;
}

.who-are-we p {
    padding: 2%;
    /* border: 2px solid#EB0028; */
    border-radius: 4px;
    margin-top: 0;
    /* background-color: white; */
    font-size: 24px;
}

.our-mission {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    transition: all 0.2s ease-in-out;
}

.our-mission p {
    padding: 2%;
    min-height: 0;
    margin: 0;
    font-size: 24px;
}

.our-mission:hover {
    background-color: #EB0028;
    color: white;
    border-left: 2px solid white;
    border-bottom: 2px solid #EB0028;
}
/* .our-mission h1 {
    position: relative;
}

.our-mission h1::after {
    position: absolute;
    content: '';
    background-color: red;
    height: 100%;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.6s ease-in-out;
}

.our-mission h1:hover::after {
    width: 100%;
}

.our-mission h1:hover {
    color: white;
} */



.about-us-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.second-section {
    height: 100vh;
    width: 100vw;
    border-bottom: 2px solid #EB0028;
    /* display: block; */
    /* background-color: #191102; */
    /* color: white; */
}

.second-section h1 {
    text-align: center;
    margin: 0;
    padding-top: 4%;
}

.third-section {
    height: 100vh;
    background-color: black;
    color: white;
}

.third-section h1 {
    margin: 0;
    padding-top: 4%;
    text-align: center;
}

.highlight-white {
    color: #EB0028;
    background-color: white;
}

.highlight-red {
    color: white;
    background-color: #EB0028;
}

.member-capsule {
    background-color: #fff;
    border: 1px solid #EB0028;
    border-radius: 1rem;
    min-height: 0;
    padding: 0.3em;
}
.member-container {
    display: grid;
    grid-template-rows: 9fr 1fr;
    gap: 0.5em;
    height: 100%;
}
.member-image-box {
    width: 100%;
    min-height: 0;
}
.member-image-box img {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.member-name {
    width: 100%;
    padding-left: 0.5em;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 1rem;
}

.box-team {
    background-color: #28231d;
    margin: 1% 5%;
    padding: 10px;
    height: 80%;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "special main details";
    grid-gap: 1em 1em;
}

.special-members-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-area: special;
}
.members-grid-column {
    align-items: center;
    overflow: auto;
    grid-area: main;
}
.members-grid {
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(200px, 250px);
    gap: 1em;
}
.members-grid-details {
    grid-area: details;
}
.members-grid-single {
    display: none;
    grid-area: main-single;
}
.special-members-column,
.members-grid-column,
.members-grid-single,
.members-grid-details {
    min-height: 0;
}

@media (max-width: 1024px) {
    .members-grid,
    .special-members-column {
        display: none;
    }
    .box-team {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }
    .members-grid-single {
        /* justify-content: center; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: minmax(200px, 300px);
        gap: 1em;
    }
    .members-grid-details {
        display: none;
    }
}