@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
  background: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


.speakers-title {
  text-align: center;
  color: red;
  font-size: clamp(2rem, 5vw, 3.5rem);
  margin-bottom: 3rem;
}


.theme-title {
  text-align: center;
  color: red;
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  margin: 2rem 0 6rem 1rem;
}


.speakers-container {
  padding: 4vh 5vw;
  background-color: black;
  color: white;
  min-height: 100vh;
}


.year-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.year-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.year-button.active {
  box-shadow: 0 0 0.75rem red;
}

.year-button:hover {
  color: red;
}


.no-speakers {
  text-align: center;
  font-size: 1.125rem;
  color: #ccc;
  margin-top: 2rem;
}



.speaker-name {
  margin: 0.5rem 0 0.25rem;
  color: #a01919;
  font-size: 1.125rem;
  font-weight: 600;
}


.speaker-designation {
  font-size: 0.95rem;
  color: white;
}


@media (max-width: 480px) {
  .theme-title {
    text-align: center;
    margin-left: 0;
  }

  .year-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .speaker-designation {
    font-size: 0.85rem;
  }
}


.speakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-items: center;
}


.speaker-card {
  width: 100%;
  max-width: 15.625rem; 
  background: rgba(4, 4, 4, 0.4); 
  backdrop-filter: blur(0.625rem); 
  -webkit-backdrop-filter: blur(0.625rem);
  padding: 1.25rem; 
  border-radius: 2rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1); 
}
.speaker-card:hover {
  transform: translateY(-0.3125rem); 
}



.speaker-image {
  width: 100%;
  max-height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: #333;
}
